<form #formCliente="ngForm" (ngSubmit)="submit(formCliente)" class="d-flex flex-column w-25">
    <label for="id">id</label>
    <input type="number" name="id" ngModel required/>

    <label for="nome">nome</label>
    <input type="text" name="nome" ngModel required/>
    
    <label for="email">email</label>
    <input type="email" name="email" ngModel required/>
    
    <label for="idade">idade</label>
    <input type="number" name="idade" ngModel required/>
    
    <button type="submit">submit</button>
</form>
  
<p>Alunos cadastrados</p>
<p *ngFor="let aluno of alunos">{{aluno.nome}}</p>