<div class="card p-5">
    <h4>Apólice de Seguro</h4>
    <form #formSeguro="ngForm" (ngSubmit)="submit(formSeguro)">
        <label for="nome">Nome</label>
    <input name="nome" type="text" ngModel/>
    
    <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons">
        <input type="radio" class="btn-check" name="sexo" id="masc" autocomplete="off" [value]="eSexo.masculino" [(ngModel)]="sexo">
        <label class="btn btn-outline-primary" for="masc">M</label>
        
        <input type="radio" class="btn-check" name="sexo" id="fem" autocomplete="off" [value]="eSexo.feminino" [(ngModel)]="sexo">
        <label class="btn btn-outline-primary" for="fem">F</label>
    </div>
    <br/>
    <label for="idade">Idade</label>
    <input name="idade" type="number" ngModel/>
    
    <label for="valorAuto">Valor</label>
    <input name="valorAuto" type="number" ngModel/>
    
    <button type="submit" class="btn btn-primary">ENVIAR</button>
</form>

<p>valor da apólice: {{valor | currency}}</p>
</div>