<form #formCalculadora="ngForm" (ngSubmit)="submit(formCalculadora)" class="d-flex flex-column w-25">
  <label>primeiro numero</label>
  <input type="number" name="num1" ngModel/>
  <label>segundo numero</label>
  <input type="number" name="num2" ngModel/>
  <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons">
    <input type="radio" class="btn-check" name="operacao" id="btnsum" autocomplete="off" [value]="eOperacoes.sum" [(ngModel)]="operacao">
    <label class="btn btn-outline-primary" for="btnsum">+</label>
    
    <input type="radio" class="btn-check" name="operacao" id="btnminus" autocomplete="off" [value]="eOperacoes.subtraction" [(ngModel)]="operacao">
    <label class="btn btn-outline-primary" for="btnminus">-</label>
      
    <input type="radio" class="btn-check" name="operacao" id="btntimes" autocomplete="off" [value]="eOperacoes.times" [(ngModel)]="operacao">
    <label class="btn btn-outline-primary" for="btntimes">x</label>
      
    <input type="radio" class="btn-check" name="operacao" id="btndivision" autocomplete="off" [value]="eOperacoes.division" [(ngModel)]="operacao">
    <label class="btn btn-outline-primary" for="btndivision">/</label>
  </div>
  <button type="submit">submit</button>
</form>
<p>{{resultado}}</p>
